@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

$Purple50: hsl(260, 100%, 95%);
$Purple300: hsl(264, 82%, 80%);
$Purple500: hsl(263, 55%, 52%);

$White: hsl(0, 0%, 100%);
$Grey100: hsl(214, 17%, 92%);
$Grey200: hsl(0, 0%, 81%);
$Grey400: hsl(224, 10%, 45%);
$Grey500: hsl(217, 19%, 35%);
$Dark-blue: hsl(219, 29%, 14%);
$Black: hsl(0, 0%, 7%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed";
  font-weight: 500;
  background-color: $Grey100;
  padding: 2rem;
  font-size: 13px;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  @media (min-width: 768px) {
    justify-content: center;
  }
}

main {
  display: grid;
  gap: 1rem;
  max-width: 1110px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .card {
    padding: 1rem;
    box-shadow: 10px 10px 15px $Grey200;
    border-radius: 0.5rem;
    position: relative;
    display: grid;
    gap: 1rem;
    @media (min-width: 768px) {
      box-shadow: 25px 25px 50px $Grey400;
    }
    header {
      display: grid;
      grid-template-columns: auto 5fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 0.5rem;
      height: 30px;
      z-index: 10;
      .image {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: 1px solid $White;
        grid-area: 1 / 1 /3 /2;
      }
      h5 {
        align-self: center;
      }
      h6 {
        font-weight: 500;
        grid-area: 2 / 2 /3 /3;
      }
    }
    .lead {
      font-size: 1.3rem;
      font-weight: 600;
      line-height: 1.1;
      z-index: 10;
    }
    p {
      font-weight: 500;
      z-index: 10;
    }
    &.card-1 {
      background-color: $Purple500;
      color: $White;

      @media (min-width: 768px) {
        grid-area: 1/1/2/3;
      }
      .icon {
        display: none;
        position: absolute;
        top: 0;
        right: 12%;
        background-image: url("./images/bg-pattern-quotation.svg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100px;
        aspect-ratio: 1/1;
        z-index: 1;

        @media (min-width: 576px) {
          display: block;
        }
      }
      .image {
        background-image: url("./images/image-daniel.jpg");
      }
    }
    &.card-2 {
      background-color: $Grey500;
      color: $White;
      @media (min-width: 768px) {
        grid-area: 1/3/2/4;
      }
      .image {
        background-image: url("./images/image-jonathan.jpg");
      }
    }
    &.card-3 {
      background-color: $White;
      color: $Grey500;

      @media (min-width: 768px) {
        grid-area: 2/1/3/2;
      }
      .image {
        background-image: url("./images/image-jeanette.jpg");
      }
    }
    &.card-4 {
      background-color: $Dark-blue;
      color: $White;
      @media (min-width: 768px) {
        grid-area: 2/2/3/4;
      }
      .image {
        background-image: url("./images/image-patrick.jpg");
      }
    }
    &.card-5 {
      background-color: $White;
      color: $Grey500;
      @media (min-width: 768px) {
        grid-area: 1/4/3/5;
      }
      .image {
        background-image: url("./images/image-kira.jpg");
      }
    }
  }
}
